on: pull_request
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Run inline query
        id: test
        run: |
          result="hello world fwff87434864"
          echo "$result"

          if [ ! -z "$CI" ]; then
              # EOF needed for multiline output
              echo "result<<EOF" >>$GITHUB_OUTPUT
              echo "$result" >>$GITHUB_OUTPUT
              echo "EOF" >>$GITHUB_OUTPUT
              echo "$result" >>$GITHUB_STEP_SUMMARY
          fi

      - name: Output Test
        run: echo $MOUTPUT
        env:
          MOUTPUT: ${{ toJSON(steps.test.outputs) }}

